<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        h1{
    /* 3d- Text */
    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
    color: white;
    background-color: darkblue;
}
    </style>
    <title>Coaching</title>
</head>
<body>
    <div class="container" >
        <h1 style="text-align: center;">Welcome to Coding Patshala</h1>
    </div>
    <div class="container">
        <div class="card-columns text-center">
           {{#each items}}
            <div class="card  ml-5 mt-5"  style="background-color: #e3f2fd;" onclick="location.href='http://localhost:3000/learningPath/{{_id}}';" style="cursor: pointer;">
                <img class="card-img-top " style="height: 240px;" src="./{{avatar}}" alt="{{title}}">
                <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <p class="card-text">{{description}}</p>
                <h5 class="card-title">{{price}}</h5>
                <h6 class="card-title"><i class="fa fa-clock-o"></i> {{duration}}</h6>
                <p class="card-text"><small class="text-muted">*Prices are inclusive of GST</small></p>
                </div>
            </div>
            {{/each}}
         </div>
    </div>
       
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>